@page
@model Bytely.Pages.AddUrlModel
@{
}

<form method="post" asp-page="AddUrlModel">
    <div class="form-group">
        <label asp-for="InputUrl"></label>
        <input asp-for="InputUrl", class="form-control" placeholder="Enter URL" autocomplete="off"/>
    </div>

    @if (Model.BytelyKey?.Length > 0)
    {
        <div class="form-group">
            <label asp-for="BytelyUrl"></label>
            <input asp-for="BytelyUrl", class="form-control" readonly="readonly" autocomplete="off"/>
        </div>
    }

    <button type="submit" class="btn-primary">Generate</button>
</form>